###############
#  temp file  #
###############
~*
*.log
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp

###############
#    script   #
###############
*.bat

##eclipse###
/bin/
.project
/.setting/
.classpath


##idea##
.idea/
*.iml
out
.gradle/
build/
.svn/
