<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" >
    <shutdownHook/>

    <!--控制台输出-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %d{HH:mm:ss} [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--DEBUG（只有DEBUG）文件日志输出-->
    <appender name="debug_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/debug_log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/debug.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--WARN（包括ERROR）文件日志输出-->
    <appender name="warn_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/warn_log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/error_log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>

    <!-- 这里平时的level为WARN，跟踪问题时才设置为DEBUG -->
    <logger name="own.jadezhang.learning" level="DEBUG">
        <appender-ref ref="debug_log" />
        <appender-ref ref="warn_log" />
    </logger>

</configuration>

